In [1]:
from PairTrading import *
from ib_insync import *

In [2]:
df_sel= pd.read_pickle("../data/kagglenotebookoutput/data/df_sel.pkl")[["median_window", "median_zscore_threshold"]]
stocks = [stock for pair in df_sel.index for stock in pair]
data_1d_1y = yf.download(tickers = stocks, period="1y",interval="1d")['Adj Close']
data_5m_60d = yf.download(tickers = stocks, period="60d",interval="5m")['Adj Close']

[*********************100%%**********************]  42 of 42 completed
[*********************100%%**********************]  42 of 42 completed

In [3]:
df_sel

              median_window  median_zscore_threshold
pair
(CRM, TTWO)             6.0                     2.20
(AMAT, ETN)            18.0                     2.10
(NTRS, TSN)            14.0                     2.30
(AMD, PANW)            14.0                     2.25
(APH, URI)              8.0                     2.20
(BSX, NVDA)             5.5                     2.25
(KLAC, V)               3.0                     2.65
(CFG, CMA)              9.0                     2.45
(FI, LEN)              14.0                     2.30
(EQIX, TDG)            19.0                     2.00
(MLM, NFLX)            16.5                     2.10
(CAH, CBOE)             6.0                     2.20
(COST, HLT)            14.0                     2.05
(FICO, HUBB)            5.0                     2.35
(CDNS, SNA)            27.0                     3.10
(MCO, SPGI)            28.0                     2.75
(PCAR, PWR)            27.0                     2.80
(IR, LIN)              25.0                     2.20
(PSA, UDR)             26.0                     2.10
(AFL, IRM)             27.0                     2.15
(MCK, ORLY)            24.0                     2.20

## Ancestor Class: PairTrading

zsocre_calculation -> signal_calculation -> signal_summary -> margin_calculation -> trading_summary

In [4]:
PairTrading_obj = PairTrading(pair = df_sel.index[0], df_whole = data_1d_1y, window = int(df_sel.iloc[0,0]), zscore_threshold = df_sel.iloc[0,1],
                              margin_init = 3000, margin_ratio = 0.25)

In [5]:
PairTrading_obj.zscore_calculation()
PairTrading_obj.df_pair.head(10)

Ticker             CRM        TTWO     ratio        ma       msd    zscore
Date
2023-05-01  197.531967  124.139999  1.591203       NaN       NaN       NaN
2023-05-02  193.587112  121.620003  1.591737       NaN       NaN       NaN
2023-05-03  192.358734  122.139999  1.574904       NaN       NaN       NaN
2023-05-04  192.129028  120.279999  1.597348       NaN       NaN       NaN
2023-05-05  197.332230  124.510002  1.584871       NaN       NaN       NaN
2023-05-08  197.641815  125.690002  1.572455       NaN       NaN       NaN
2023-05-09  200.917542  124.599998  1.612500  1.585420  0.009946  2.722728
2023-05-10  204.582764  124.739998  1.640073  1.588969  0.014960  3.416147
2023-05-11  203.204559  125.570000  1.618257  1.597025  0.025821  0.822289
2023-05-12  201.546722  125.260002  1.609027  1.604251  0.024420  0.195586

In [6]:
PairTrading_obj.signal_calculation()
PairTrading_obj.df_pair.head(10)

Ticker,CRM,TTWO,ratio,ma,msd,zscore,signal
Date,,,,,,,
2023-05-01,197.531967,124.139999,1.591203,NaN,NaN,NaN,0.0
2023-05-02,193.587112,121.620003,1.591737,NaN,NaN,NaN,0.0
2023-05-03,192.358734,122.139999,1.574904,NaN,NaN,NaN,0.0
2023-05-04,192.129028,120.279999,1.597348,NaN,NaN,NaN,0.0
2023-05-05,197.332230,124.510002,1.584871,NaN,NaN,NaN,0.0
2023-05-08,197.641815,125.690002,1.572455,NaN,NaN,NaN,0.0
2023-05-09,200.917542,124.599998,1.612500,1.585420,0.009946,2.722728,-1.0
2023-05-10,204.582764,124.739998,1.640073,1.588969,0.014960,3.416147,-1.0
2023-05-11,203.204559,125.570000,1.618257,1.597025,0.025821,0.822289,0.0
2023-05-12,201.546722,125.260002,1.609027,1.604251,0.024420,0.195586,0.0

In [7]:
PairTrading_obj.signal_summary()
PairTrading_obj.df_signal_summary.head(10)

,signal,time_start,time_end,stock1_start_price,stock1_final_price,stock2_start_price,stock2_final_price
0,0.0,2023-05-01,2023-05-09,197.531967,200.917542,124.139999,124.599998
1,-1.0,2023-05-09,2023-05-11,200.917542,203.204559,124.599998,125.570000
2,0.0,2023-05-11,2023-05-17,203.204559,209.106857,125.570000,125.019997
3,-1.0,2023-05-17,2023-05-18,209.106857,213.041718,125.019997,139.630005
4,1.0,2023-05-18,2023-05-24,213.041718,208.787262,139.630005,135.839996
5,0.0,2023-05-24,2023-05-26,208.787262,215.158951,135.839996,138.979996
6,-1.0,2023-05-26,2023-06-01,215.158951,212.622253,138.979996,137.589996
7,0.0,2023-06-01,2023-06-09,212.622253,215.029114,137.589996,134.029999
8,-1.0,2023-06-09,2023-06-12,215.029114,213.411224,134.029999,136.000000
9,0.0,2023-06-12,2023-06-21,213.411224,209.316574,136.000000,140.460007

In [8]:
PairTrading_obj.margin_calculation()
PairTrading_obj.df_margin

,signal,time_start,time_end,stock1_start_price,stock1_final_price,stock2_start_price,stock2_final_price,margin
1,-1.0,2023-05-09,2023-05-11,200.917542,203.204559,124.599998,125.570000,2971.065417
3,-1.0,2023-05-17,2023-05-18,209.106857,213.041718,125.019997,139.630005,3538.229920
4,1.0,2023-05-18,2023-05-24,213.041718,208.787262,139.630005,135.839996,3576.960245
6,-1.0,2023-05-26,2023-06-01,215.158951,212.622253,138.979996,137.589996,3579.252026
8,-1.0,2023-06-09,2023-06-12,215.029114,213.411224,134.029999,136.000000,3726.454659
10,1.0,2023-06-21,2023-06-22,209.316574,213.011749,140.460007,141.179993,3806.645589
12,1.0,2023-06-26,2023-06-28,207.089493,211.893204,143.509995,145.979996,3837.471510
14,-1.0,2023-07-05,2023-07-07,213.541061,209.316574,145.039993,143.190002,3878.125439
16,-1.0,2023-07-12,2023-07-17,226.983490,227.702560,149.919998,152.710007,3984.631749
18,1.0,2023-07-31,2023-08-02,224.716461,220.212341,152.940002,147.220001,4113.000982
20,-1.0,2023-08-07,2023-08-08,215.778137,211.303986,141.179993,140.139999,4210.863313
22,1.0,2023-08-23,2023-08-24,208.857178,205.241898,144.550003,139.660004,4337.880627
24,-1.0,2023-08-31,2023-09-05,221.171097,218.404709,142.199997,141.179993,4371.144725
26,1.0,2023-09-13,2023-09-18,218.514557,214.719513,144.360001,141.330002,4388.721767
28,-1.0,2023-09-21,2023-10-02,208.337860,203.444260,135.940002,139.000000,4777.548336
30,-1.0,2023-10-06,2023-10-09,207.089493,206.949661,140.910004,143.130005,4919.213647
32,1.0,2023-10-10,2023-10-12,206.610123,205.411667,145.240005,141.619995,5091.761696
34,-1.0,2023-10-19,2023-10-20,208.048233,203.464218,140.279999,140.580002,5319.312840
36,-1.0,2023-10-30,2023-11-03,199.010040,207.199341,133.350006,138.910004,5309.514520
38,1.0,2023-11-09,2023-11-14,209.736023,220.891449,146.320007,153.399994,5342.496520
40,-1.0,2023-12-01,2023-12-04,259.660828,250.333008,157.839996,157.559998,5691.472464
42,1.0,2024-01-02,2024-01-16,255.795868,268.838837,159.259995,161.880005,6063.474043
44,-1.0,2024-01-18,2024-01-22,274.101929,279.934326,159.860001,164.429993,6132.883836
46,-1.0,2024-02-05,2024-02-06,287.734131,285.457092,164.009995,166.669998,6408.691324
48,-1.0,2024-02-22,2024-03-05,293.266907,298.360260,152.440002,143.940002,5458.466690
50,1.0,2024-03-15,2024-03-18,294.329987,300.510010,143.910004,144.619995,5618.683754
52,1.0,2024-04-04,2024-04-05,294.140015,301.910004,149.589996,151.039993,5789.532072
54,1.0,2024-04-25,2024-04-29,273.140015,275.739990,143.429993,144.270004,5815.603518

In [9]:
PairTrading_obj = PairTrading(pair = df_sel.index[0], df_whole = data_1d_1y, window = int(df_sel.iloc[0,0]), zscore_threshold = df_sel.iloc[0,1],
                              margin_init = 3000, margin_ratio = 0.25)
PairTrading_obj.trading_summary()

{'pair': ('CRM', 'TTWO'),
 'window': 6,
 'zscore_threshold': 2.2,
 'margin': 5815.603518267178}

## Parent Class: PairTradingIntraDay

`redefine` zscore_calculation -> signal_calculation -> signal_summary -> margin_calculation -> trading_summary

In [10]:
PairTradingIntraDay_obj = PairTradingIntraDay(pair = df_sel.index[0], df_whole_intraday = data_5m_60d, df_whole = data_1d_1y,
                                              window = int(df_sel.iloc[0,0]), zscore_threshold = df_sel.iloc[0,1],
                                              margin_init = 3000, margin_ratio = 0.25)

In [11]:
PairTradingIntraDay_obj.zscore_calculation()
PairTradingIntraDay_obj.df_pair

Ticker,CRM,TTWO,Day,ratio_intraday,CRM_1d,TTWO_1d,ratio,ma,msd,zscore
Datetime,,,,,,,,,,
2024-02-05 09:30:00-05:00,285.380005,166.000000,2024-02-05,0.541834,287.734131,164.009995,0.562110,0.532242,0.010245,0.936246
2024-02-05 09:35:00-05:00,285.214996,165.845001,2024-02-05,0.542190,287.734131,164.009995,0.562110,0.532242,0.010245,0.970976
2024-02-05 09:40:00-05:00,284.920013,164.854996,2024-02-05,0.547142,287.734131,164.009995,0.562110,0.532242,0.010245,1.454405
2024-02-05 09:45:00-05:00,284.739990,164.649994,2024-02-05,0.547754,287.734131,164.009995,0.562110,0.532242,0.010245,1.514169
2024-02-05 09:50:00-05:00,284.695007,164.619995,2024-02-05,0.547779,287.734131,164.009995,0.562110,0.532242,0.010245,1.516533
...,...,...,...,...,...,...,...,...,...,...
2024-04-30 12:50:00-04:00,270.084991,142.940002,2024-04-30,0.636312,270.350006,143.369995,0.634289,0.655424,0.012933,-1.477735
2024-04-30 12:55:00-04:00,270.100006,143.059998,2024-04-30,0.635528,270.350006,143.369995,0.634289,0.655424,0.012933,-1.538317
2024-04-30 13:00:00-04:00,270.295013,143.134995,2024-04-30,0.635726,270.350006,143.369995,0.634289,0.655424,0.012933,-1.523037
2024-04-30 13:05:00-04:00,270.282501,143.285004,2024-04-30,0.634632,270.350006,143.369995,0.634289,0.655424,0.012933,-1.607606
2024-04-30 13:10:00-04:00,270.190002,143.369995,2024-04-30,0.633697,270.350006,143.369995,0.634289,0.655424,0.012933,-1.679921

In [12]:
PairTradingIntraDay_obj.signal_calculation()
PairTradingIntraDay_obj.df_pair

Ticker,CRM,TTWO,Day,ratio_intraday,CRM_1d,TTWO_1d,ratio,ma,msd,zscore,signal
Datetime,,,,,,,,,,,
2024-02-05 09:30:00-05:00,285.380005,166.000000,2024-02-05,0.541834,287.734131,164.009995,0.562110,0.532242,0.010245,0.936246,0.0
2024-02-05 09:35:00-05:00,285.214996,165.845001,2024-02-05,0.542190,287.734131,164.009995,0.562110,0.532242,0.010245,0.970976,0.0
2024-02-05 09:40:00-05:00,284.920013,164.854996,2024-02-05,0.547142,287.734131,164.009995,0.562110,0.532242,0.010245,1.454405,0.0
2024-02-05 09:45:00-05:00,284.739990,164.649994,2024-02-05,0.547754,287.734131,164.009995,0.562110,0.532242,0.010245,1.514169,0.0
2024-02-05 09:50:00-05:00,284.695007,164.619995,2024-02-05,0.547779,287.734131,164.009995,0.562110,0.532242,0.010245,1.516533,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-30 12:50:00-04:00,270.084991,142.940002,2024-04-30,0.636312,270.350006,143.369995,0.634289,0.655424,0.012933,-1.477735,0.0
2024-04-30 12:55:00-04:00,270.100006,143.059998,2024-04-30,0.635528,270.350006,143.369995,0.634289,0.655424,0.012933,-1.538317,0.0
2024-04-30 13:00:00-04:00,270.295013,143.134995,2024-04-30,0.635726,270.350006,143.369995,0.634289,0.655424,0.012933,-1.523037,0.0
2024-04-30 13:05:00-04:00,270.282501,143.285004,2024-04-30,0.634632,270.350006,143.369995,0.634289,0.655424,0.012933,-1.607606,0.0
2024-04-30 13:10:00-04:00,270.190002,143.369995,2024-04-30,0.633697,270.350006,143.369995,0.634289,0.655424,0.012933,-1.679921,0.0

In [13]:
PairTradingIntraDay_obj.signal_summary()
PairTradingIntraDay_obj.df_signal_summary

,signal,time_start,time_end,stock1_start_price,stock1_final_price,stock2_start_price,stock2_final_price
0,0.0,2024-02-05 09:30:00-05:00,2024-02-05 12:20:00-05:00,285.380005,286.019989,166.000000,164.085007
1,-1.0,2024-02-05 12:20:00-05:00,2024-02-06 10:50:00-05:00,286.019989,286.859985,164.085007,165.279999
2,0.0,2024-02-06 10:50:00-05:00,2024-02-22 09:30:00-05:00,286.859985,293.269989,165.279999,152.820007
3,-1.0,2024-02-22 09:30:00-05:00,2024-02-29 09:35:00-05:00,293.269989,297.500000,152.820007,147.190002
4,0.0,2024-02-29 09:35:00-05:00,2024-02-29 15:00:00-05:00,297.500000,308.399994,147.190002,146.229996
5,-1.0,2024-02-29 15:00:00-05:00,2024-03-05 10:35:00-05:00,308.399994,303.799988,146.229996,143.080002
6,0.0,2024-03-05 10:35:00-05:00,2024-03-14 09:30:00-04:00,303.799988,307.829987,143.080002,143.460007
7,-1.0,2024-03-14 09:30:00-04:00,2024-03-14 11:55:00-04:00,307.829987,305.170013,143.460007,144.089996
8,0.0,2024-03-14 11:55:00-04:00,2024-03-15 12:10:00-04:00,305.170013,295.380005,144.089996,142.785004
9,1.0,2024-03-15 12:10:00-04:00,2024-03-18 09:30:00-04:00,295.380005,299.309998,142.785004,144.380005
10,0.0,2024-03-18 09:30:00-04:00,2024-03-20 10:40:00-04:00,299.309998,301.130005,144.380005,148.520004
11,1.0,2024-03-20 10:40:00-04:00,2024-03-20 13:00:00-04:00,301.130005,302.559998,148.520004,146.770004
12,0.0,2024-03-20 13:00:00-04:00,2024-03-21 14:05:00-04:00,302.559998,308.820007,146.770004,152.645004
13,1.0,2024-03-21 14:05:00-04:00,2024-03-25 09:40:00-04:00,308.820007,304.894989,152.645004,144.500000
14,-1.0,2024-03-25 09:40:00-04:00,2024-03-26 09:30:00-04:00,304.894989,307.165009,144.500000,148.020004
15,0.0,2024-03-26 09:30:00-04:00,2024-04-04 09:40:00-04:00,307.165009,300.049988,148.020004,152.399994
16,1.0,2024-04-04 09:40:00-04:00,2024-04-05 10:50:00-04:00,300.049988,299.528015,152.399994,150.639999
17,0.0,2024-04-05 10:50:00-04:00,2024-04-08 11:35:00-04:00,299.528015,302.000000,150.639999,154.649994
18,1.0,2024-04-08 11:35:00-04:00,2024-04-10 09:30:00-04:00,302.000000,299.704987,154.649994,152.250000
19,0.0,2024-04-10 09:30:00-04:00,2024-04-15 09:30:00-04:00,299.704987,283.920013,152.250000,147.524994
20,1.0,2024-04-15 09:30:00-04:00,2024-04-16 13:20:00-04:00,283.920013,279.055206,147.524994,145.619995
21,0.0,2024-04-16 13:20:00-04:00,2024-04-25 09:30:00-04:00,279.055206,270.470001,145.619995,142.720001
22,1.0,2024-04-25 09:30:00-04:00,2024-04-29 09:30:00-04:00,270.470001,276.557892,142.720001,144.910004
23,0.0,2024-04-29 09:30:00-04:00,2024-04-30 13:10:00-04:00,276.557892,270.190002,144.910004,143.369995

In [14]:
PairTradingIntraDay_obj.margin_calculation()
PairTradingIntraDay_obj.df_margin

,signal,time_start,time_end,stock1_start_price,stock1_final_price,stock2_start_price,stock2_final_price,margin
1,-1.0,2024-02-05 12:20:00-05:00,2024-02-06 10:50:00-05:00,286.019989,286.859985,164.085007,165.279999,3017.174046
3,-1.0,2024-02-22 09:30:00-05:00,2024-02-29 09:35:00-05:00,293.269989,297.500000,152.820007,147.190002,2703.897304
5,-1.0,2024-02-29 15:00:00-05:00,2024-03-05 10:35:00-05:00,308.399994,303.799988,146.229996,143.080002,2660.404775
7,-1.0,2024-03-14 09:30:00-04:00,2024-03-14 11:55:00-04:00,307.829987,305.170013,143.460007,144.089996,2720.570441
9,1.0,2024-03-15 12:10:00-04:00,2024-03-18 09:30:00-04:00,295.380005,299.309998,142.785004,144.380005,2722.165419
11,1.0,2024-03-20 10:40:00-04:00,2024-03-20 13:00:00-04:00,301.130005,302.559998,148.520004,146.770004,2802.406698
13,1.0,2024-03-21 14:05:00-04:00,2024-03-25 09:40:00-04:00,308.820007,304.894989,152.645004,144.500000,3016.402481
14,-1.0,2024-03-25 09:40:00-04:00,2024-03-26 09:30:00-04:00,304.894989,307.165009,144.500000,148.020004,3108.454130
16,1.0,2024-04-04 09:40:00-04:00,2024-04-05 10:50:00-04:00,300.049988,299.528015,152.399994,150.639999,3159.124134
18,1.0,2024-04-08 11:35:00-04:00,2024-04-10 09:30:00-04:00,302.000000,299.704987,154.649994,152.250000,3199.873406
20,1.0,2024-04-15 09:30:00-04:00,2024-04-16 13:20:00-04:00,283.920013,279.055206,147.524994,145.619995,3165.207054
22,1.0,2024-04-25 09:30:00-04:00,2024-04-29 09:30:00-04:00,270.470001,276.557892,142.720001,144.910004,3199.239275

In [15]:
PairTradingIntraDay_obj = PairTradingIntraDay(pair = df_sel.index[0], df_whole_intraday = data_5m_60d, df_whole = data_1d_1y, window = int(df_sel.iloc[0,0]), 
                                      zscore_threshold = df_sel.iloc[0,1], margin_init = 3000, margin_ratio = 0.25)
PairTradingIntraDay_obj.trading_summary()

{'pair': ('CRM', 'TTWO'),
 'window': 6,
 'zscore_threshold': 2.2,
 'margin': 3199.239274645515}

## Child Class: PairTradingUpdatePosition

`newdefine` update_current_position & update_future_position

! `Note`: ib.connect() should be made only once, so if running the below cell more than twice, it can be error prone. If so, should restart the kernel.

In [17]:
util.startLoop()  # needed for Jupyter

ib = IB()


ib.connect()

Peer closed connection.

In [32]:
PairTradingUpdatePosition_obj = PairTradingUpdatePosition(pair = df_sel.index[10], df_whole_intraday = data_5m_60d, margin_ratio = AvailableFunds/BuyingPower = data_1d_1y, 
                          margin_init = 3000, margin_ratio = 0.25, df_pairs_wt_paras = df_sel, ib = ib)
PairTradingUpdatePosition_obj.update_position_summary()

{'pair': ('EQIX', 'TDG'),
 'stock1_current_numbers': 0,
 'stock2_current_numbers': 0,
 'stock1_future_numbers': 8,
 'stock2_future_numbers': -4}